body {
	margin: 0;
	padding: 0;

	width: 100%;

	background-color: rgb(245,245,245);

	font-family: 'Montserrat', sans-serif;
}

.header {
	height: 55px;
	background-color: #6264a7;
	display: flex;
	flex-direction: row;
	align-content: space-between;
	align-items: center;
	border-bottom: 1px solid #666;
	color: white;
}

.header-logo-panel {
	padding-left: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
	width: 50%;
}

.logo-name {
	padding-right: 10px;
	border-right: 2px solid #666;
}

.logo-name-description {
	padding-left: 10px;
}

.logo-image {
	margin-right: 10px;
	width: 50px;
	height: 100%;	
	background-position: center;
	background-image: url(../header-logo-image.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.header-navigation-panel {
	width: 50%;

	display: flex;
}

.header-navigation-panel ul {
	width: 100%;

	margin-right: 10%;

	display: flex;
	flex-direction: row;
	align-items: center;

	list-style: none;
}

.header-navigation-panel ul li{
	padding-right: 10px;
	width: 33%;
}

.header-navigation-panel .search-section {
	border: 1px solid white;

	padding: 5px;

	border-radius: 4px;
}

.container {
	/*min-height: 1250px !important;*/
}

.container.first-section {
	display: block;
	width: 30%;
	margin: 5% 10%;
	float: left;
}

.container .first-section._description-text._big-text {
	font-size: 40px;
	font-weight: bold;

	color: #6264a7;
}

.container .first-section._description-text._main-text {
	font-size: 35px;
	font-weight: normal;
}

.container .first-section._try-buttons button {
	width: 250px;
	height: 50px;

	margin-bottom: 10px;

	border-radius: 4px;
	border: 1px solid #6264a7;

	font-size: 18px;
}

._white-button {
	color: #6264a7;
	background-color: white;
}

._lilac-button {
	background-color: #6264a7;
	color: white;
}

._white-button:hover {
	background-color: #6264a7;
	color: white;
	cursor: pointer;
}

._lilac-button:hover {
	color: #6264a7;
	background-color: white;
	cursor: pointer;
}

.second-section {
	float: left;
	margin: 5%;

	width: 40%;
	height: 500px;

	background: url("../image-show.png");
}

.third-section-advantages {
	width: 100%;
}

.third-section-advantages._list {
	display: flex;
	flex-direction: row;
	list-style: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.third-section-advantages._list-item {
	width: 22%;
	height: 100px;
	margin: 5% 1%;

	text-align: center;
}

._list {
	display: flex;
	flex-direction: row;
	list-style: none;
}

._list-item._image {
	height: 150px;
	width: 100%;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

._list-item h3  {
	font-size: 24px;

	min-height: 75px;

	color: #541049 ;
}

._list-item p {
	font-size: 20px;

	text-align: justify;
}

._center {
	text-align: center;
}

._detail-text {
	margin: 50px 0;
	display: block;
	color: #6264a7;
	font-size: 2rem;
	font-weight: bold;
	width: 100%;
	float: none;
}

.footer {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 100px;
	background-color: #6264a7;
	color: white;
}

.footer ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	list-style: none;
}

.description-section {
	display: flex;
	flex-direction: column;

	width: 100%;
	margin-top: 50px;

	align-items: center;
	justify-content: center;
}

.photo-text-section {
	margin-bottom: 3rem;
	width: 80%;
}

.photo-section,
.text-section {
	float: left;
}

.photo-section {
	height: 400px;
	width: 40%;
}

.text-section {
	text-align: justify;
	font-size: 1.5rem;
	width: 60%;
}

.icon {
	background-repeat: no-repeat;
	background-size: cover;
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.arrow-up {
	background-image: url('../resources/Gmail/up-arrow.png');
}

.section-up {
	display: flex;
	width: 100%;
	height: 64px;
	justify-content: center;
}

a {
	color: white;
	text-decoration: none;
}

.header-min {
	display: none;
}

#header-navigation-panel-min {
	display: none;
}

.third-section-advantages-min {
	display: none;
}

.description-section-min {
	display: none;
}

/*Adaptive*/
@media (max-width: 400px) {
	.header {
		display: none;
	}
	.header-navigation-panel {
		display: none;
	}
	.header__dropdown-menu {
		width: 32px;
		height: 32px;
		margin-right: 10%;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		background: url("../menu.png");
	}
	.logo-name {
		border: none;
	}
	.header-min {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		background-color: #6264a7;
		color: white;
		height: 50px;
	}
	#header-navigation-panel-min {
		width: 100%;
	}
	#header-navigation-panel-min ul {
		display: flex;
		flex-direction: column;
		list-style: none;
		text-align: center;
		border-top: 1px solid #ffffff;
		margin: 0;
		padding: 0;
	}
	#header-navigation-panel-min ul li {
		color: white;
		background-color: #6264a7;
		border-bottom: 1px solid white;
		margin: 0;
		padding: 10px 0;
	}
	.container {
		flex-direction: column;
		justify-content: center;
		min-height: auto;
	}
	.container.first-section {
		display: flex;
		justify-content: center;
		text-align: center;
		float: none;
		width: 80%;
	}
	.container .first-section._description-text._main-text {
		font-size: 25px;
	}
	.container.second-section {
		display: none;
	}
	._detail-text {
		font-size: 1.5rem;
		margin: 15px 0 0 0;
	}
	.third-section-advantages {
		display: none;
	}
	.third-section-advantages-min {
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-bottom: 2px solid #6264a7;
	}
	.third-section-advantages-min ul {
		width: 80%;
		list-style: none;
		text-align: center;
	}
	.third-section-advantages-min h3 {
		font-size: 1.3rem;

		color: #541049 ;
	}
	.description-section {
		display: none;
	}
	.description-section-min {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.description-section-min .photo-text-section {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 25px 0;
		text-align: center;
	}
	.description-section-min .photo-text-section .text-section {
		width: 90%;
		margin: 10px 5%;
		font-size: 1rem;
		float: none;
		text-align: center;
	}
	.description-section-min .photo-text-section .photo-section {
		width: 100%;
		float: none;
		background-position: center !important;
	}
	.footer ul {
		flex-direction: column;
		text-align: center;

		padding: 0;
	}

}